body {
  background: #fff;
  display: block;
}
header {
  position: relative;
  width: 100%;
  z-index: 9999;
  background: #fff;
}

nav {
  font-family: Arial;
  position: relative;
  top: 6px;
  float: right;
  padding-right: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 5px;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

#header-container {
  position: relative;
  top: 80px;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

main {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-width: 1000px;
  height: 100%;
  max-height: 751px;
  margin-left: auto;
  margin-right: auto;
  background: url(../img/background/start.jpg) right 50% no-repeat;
  background-size: auto 100%;
}

#portfolio-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 751px;
}

#headline {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 5%;
}
