body {
  background: #fff;
  display: block;
}
header {
  position: relative;
  width: 100%;
  z-index: 9999;
  background: #fff;
}

div {
  display: block;
}

#header-container {
  position: relative;
  top: 80px;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  top: 12px;
  float: left;
  padding-left: 15px;
  position: relative;
  top: 20px;
}

#lynn {
  width: 100%;
  max-width: 130px;
}

nav {
  font-family: Arial;
  position: relative;
  top: 6px;
  float: right;
  padding-right: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 5px;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

main {
  position: relative;
  width: 1200px;
  height: 751px;
  margin-left: auto;
  margin-right: auto;
  background-color: #66ccff;
}

#portfolio-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 751px;
}

#portfolio-content-container {
  position: absolute;
  left: 22.91666666%;
  top: 10%;
  width: 54.166666%;
  height: 86.551264%;
  max-width: 650px;
  max-height: 650px;
}

#kniffeljs {
  position: relative;
  width: 650px;
  height: 600px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 4px;
}
