body {
  background: #fff;
}
header {
  position: absolute;
  top: 80px;
  left: 68vw;
  z-index: 9999;
}

nav {
  font-family: Arial;
}

nav a {
  float: left;
  font-size: 12px;
  color: white;
  text-align: center;
  padding-left: 16px;
  padding-top: 16px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* .pro {
  position: absolute;
  background-color: #66ccff;
  top: 60px;
  left: 12.5vw;
  max-width: 1800px;
  width: 75vw;
  max-height: 1127px;
  height: 85vh;
} */

.grid-container {
  display: grid;
  color: black;
  grid-template-columns: 12.5vw 75vw 12.5vw;
  grid-template-rows: 60px 85vh;
}
#item1 {
  background-color: #66ccff;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
