body {
  background: #fff;
  display: block;
}
header {
  position: relative;
  width: 100%;
  z-index: 9999;
  background: #fff;
}

div {
  display: block;
}

#header-container {
  position: relative;
  top: 80px;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  top: 12px;
  float: left;
  padding-left: 15px;
  position: relative;
  top: 20px;
}

#lynn {
  width: 100%;
  max-width: 130px;
}

nav {
  overflow: hidden;
  font-family: Arial;
  position: relative;
  top: 6px;
  float: right;
  padding-right: 15px;
}

nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-left: 16px;
  padding-top: 16px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 751px;
  margin-left: auto;
  margin-right: auto;
  background-color: #66ccff;
}

#portfolio-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 751px;
}

#portfolio-content-container {
  position: absolute;

  top: 10%;
  width: 91.666666%;
  height: 79.893475%;
  max-width: 1100px;
  max-height: 600px;
}

#snakejs {
  position: relative;
  width: 665px;
  height: 600px;
  left: 22.91666666%;
  border-color: #ffffff;
  border-style: solid;
  border-width: 4px;
}

#arrowExplain {
  position: absolute;
  width: 200px;
  top: 15%;
  left: 2.5%;
}

#score {
  position: absolute;
  width: 200px;
  top: 60%;
  left: 2.5%;
}

#explain {
  position: absolute;
  width: 200px;
  top: 15%;
  left: 87%;
}

#space {
  position: absolute;
  width: 200px;
  top: 60%;
  left: 87%;
}
