body {
  background: #fff;
}
header {
  position: absolute;
  top: 80px;
  left: 68vw;
  z-index: 9999;
}

nav {
  overflow: hidden;
  font-family: Arial;
}

nav a {
  float: left;
  font-size: 12px;
  color: white;
  text-align: center;
  padding-left: 16px;
  padding-top: 16px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.grid-container {
  display: grid;
  color: black;
  grid-template-columns: 12.5vw 75vw 12.5vw;
  grid-template-rows: 60px 87vh;
}
#item1 {
  background-image: url(../img/start.jpg);
  background-size: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#lynn {
  position: absolute;
  width: 40vw;
  left: 20vw;
  top: 55vh;
}
